@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root{
    --color-1: rgb(2, 24, 31);
    --color-2: rgb(148, 191, 230);
    --color-3: rgb(229, 229, 229);
    --color-4: rgb(0, 255, 255);
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-1);
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: visible;
    overflow-x: hidden;
}

.presentation{
    /* display: block; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120vh;
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    pointer-events: none;
}

.presentation__logo{
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translateY(-15vh);
    background-color: #fff;
    padding: 20px;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    border-radius: 50px;
    
}

/* .presentation__logo--move{
    top: -45px;
    transform: translateY(10%);
    left:0;
    scale:0.3;
    animation: ease;
    transition: 1s;
} */

.presentation__text{
    color: var(--color-4);
}

.header{
    width: 100%;
    height: 110vh;
}

.nav__transition{
    position: fixed;
    /* top: 0; */
    right: 0;
    /* transform: translateY(50vh); */
    width: 100vw;
    height: 0vh;
    background-color: var(--color-3);
    z-index: 20;
    opacity: .9;
    pointer-events: none;
    /* border-radius: 1000px; */
}

.transition2{
    bottom: 0;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.462);
    backdrop-filter: blur(5px);
    position: fixed;
    height: 70px;
    z-index: 5;
}

.nav__logos{
    display: flex;
    align-items: center;
}

.nav__logo{
    width: 100px;
    height: 100px;
    scale: .3;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    border-radius: 50px;
    background-color: #fff;
    padding: 20px;
}

.nav__name{
    /* padding-left: 40px; */
    color: var(--color-4);
    font-size: 2rem;
    transform: translateX(-45px);
}

.nav__ul{
    display: flex;
    list-style: none;
    padding-right: 40px;
    width: 400px;
    justify-content: space-between;
}

.nav__li{
    padding: 5px;
    text-decoration: none;
    color: var(--color-3);
    font-size: 1.1rem;
    transition: .5s;
    border-radius: 20%;
}

.nav__li:hover{
    color: var(--color-4);
    box-shadow: 0 0 10px var(--color-4);
}

/* ========SECTION HERO========= */

.hero{
    width: 100%;
    height: 100%;
    position: relative;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.hero__text{
    /* position: absolute; */
    color: var(--color-3);
    transform: translateX(200px);
    z-index: 4;
}

.hero__title{
    font-size: 7rem;
    /* white-space: nowrap; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.hero__subtitle{
    font-size: 3rem;
    margin: 0;
    color: var(--color-4);
}

.hero__background{
    width: fit-content;
    height: fit-content;
    position: relative;
    /* transform: translateY(-50px); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.511), rgba(0, 0, 0, 0.5)); */
    /* position: absolute; */
    /* right: 10%;
    bottom: 250px; */
}

/* .hero__background::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .3;
} */

.hero__gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: radial-gradient(rgba(0, 0, 0, 0.227),rgb(2, 24, 31)70%);
}

.hero__img{
    width: 750px;
}

/* =======SECTION WELCOME======= */
.welcome{
    width: 100%;
    height: 30vh;
    background-color: var(--color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcome__text{
    margin: 0;
    font-size: 10rem;
    /* padding: 10px; */
    color: var(--color-3);
    font-family: 'Poppins', sans-serif;
    /* transform: translateY(100px); */

}

/* ========SECTION ABOUT======== */

/* .presentation{
    display: none;
}
.header{
    display: none;
} */

.about{
    height: 120vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.about__text{
    min-width: 310px;
    width: 600px;
    padding: 50px 40px;
    position: relative;
}

.subtitle{
    color: var(--color-4);
    font-size: 5rem;
}

.about__paragraph{
    color: var(--color-3);
    font-size: 1.5rem;
    line-height: 40px;
}

.about__images{
    position: relative;
    min-width: 310px;
    width: 600px;
    padding: 5px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;
}

.about__me{
    width: 600px;
    transform: rotateY(180deg) translateY(50px);
    filter: drop-shadow(-20px 10px 10px #000);
    position: absolute;
    z-index: 10;
}

.about__wall{
    width: 500px;
    height: 450px;
    position: absolute;
    /* transform: rotateY(60deg) rotateX(10deg) rotateZ(20deg); */
    transform: rotateY(-46deg);
    z-index: 5;
}
.about__street{
    width: 350px;
    height: 460px;
    position: absolute;
    /* transform: rotateY(60deg) rotateX(10deg) rotateZ(20deg); */
    transform: rotateX(90deg) rotateY(6deg) rotateZ(-53deg) translateY(30px) translateX(-150px) translateZ(-190px);
    /* top: -5px;
    left: 45px; */
    z-index: 2;
}
.about__cloud{
    width: 350px;
    height: 460px;
    position: absolute;
    transform:translateY(-230px) translateX(120px);
    z-index: 2;
}
.about__cloud2{
    width: 350px;
    height: 460px;
    position: absolute;
    transform: translateY(-130px) translateX(-150px);
    z-index: 2;
}

/* ========SECTION KNOWLEDGE====== */

.knowledge{
    /* position: absolute; */
    height: fit-content;
    width: fit-content;
    /* display: flex; */
    /* flex-direction: column; */
    flex-wrap: nowrap;
    z-index: -5;
}

.knowledge__first{
    /* position: absolute; */
    height: 100vh;
    width: 100vw;
    background-color: rgb(222, 119, 0);
    display: flex;
    justify-content: center;
}

.first__text{
    margin: auto;
    font-family: 'Poppins', sans-serif;
    color: var(--color-3);
}

/* ======PANEL GALLERY======== */

.knowledge__gallery{
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 85, 141);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.knowledge__subtitle{
    font-size: 4rem;
    position: relative;
    color: var(--color-3);
    /* text-align: center; */
    /* margin: 80px 0 10px 0; */
    margin: 0;
    /* transform: translateY(80px); */
}

.gallery__content{
    position: relative;
    width: 90%;
    height: fit-content;
    background-color: var(--color-3);
    border-radius: 10px;
    padding: 5px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(7, minmax(auto , 1fr));
    /* grid-template-columns: repeat( 3, 1fr); */
    grid-auto-rows: minmax(372px, auto);
    grid-auto-flow: dense;
    grid-gap: 6px;
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

/* .gallery__column{
    display: flex;
    flex-direction: column;
    flex: 32%;
    padding: 5px;
} */

.gallery__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding: 5px; */
    object-fit:cover;
    overflow: hidden;
    transition: .5s;
}

.gallery__img:hover{
    /* position: absolute; */
    /* width: 100%; */
    /* align-self: center;
    justify-self: center; */
    z-index: 1;
    /* object-fit:contain; */
    transform: scale(1.2);
    filter:drop-shadow(0 0 20px #000);
}

.wide{grid-column: span 2;}
.tall{grid-row: span 2;}

/* ==========PANEL GALLERY2======== */
.knowledge__gallery2{
    width: 100vw;
    height: 100vh;
    background-color: rgb(176, 173, 5);
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}

.gallery__title{
    position: absolute;
    right: 50%;
    top: 100px;
    transform: translate(50%);
}

.gallery__content2{
    width: 500px;
    height: 1200px;
    background-color: var(--color-2);
    /* display: flex; */
    /* flex-direction: column; */
    /* display: grid; */
    position: absolute;
    transform: rotate(-90deg) translateY(-22%) translateX(50px);
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    scroll-snap-type: y mandatory;
    left: 50%;
    box-shadow: 0px 0px 50px #000;
    outline: 2px dotted var(--color-3);
    outline-offset: 7px;
}

.gallery__img2{
    height: 450px;
    width: 450px;
    transform: rotate(90deg);
    border-radius: 20px;
    margin: 10px;
    object-fit: cover;
    outline: 3px solid var(--color-3);
    outline-offset: -10px;
    filter: grayscale();
    transition: filter .5s, outline-offset .5s;
    scroll-snap-align:center;
}

.gallery__img2:hover{
    filter: none;
    outline-offset: 0;
}

/* ======PANEL BUTTONS====== */
/* button1 */

.knowledge__buttons{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(64, 24, 134); */
    background:linear-gradient(rgb(64, 24, 134)90%,var(--color-1));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttons__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    height: 600px;
    min-width: 900px;
    gap: 10px;
}

.buttons__menu{
    background-color: rgba(255, 255, 255, 0.373);
    width: 100%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.buttons__cta1{
    background-color: var(--color-2);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    transition: scale .3s, box-shadow .3s;
    cursor: pointer;
}

.buttons__ul1{
    background: var(--color-2);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 200px;
    height: 0px;
    opacity: 0;
}

.buttons__li1{
    text-align: center;
    width: 80%;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(218, 236, 255);
    cursor: pointer;
    opacity: 0;
    transition: scale .3s, box-shadow .3s;
    pointer-events: none;
}

.buttons__li1:hover, .buttons__cta1:hover{
    box-shadow: 5px 5px 10px black;
    scale: 1.1;
}

.buttons__li1:active, .buttons__cta1:active{
    scale: 1;
    box-shadow: none;
    transition: .1s;
}

/* ========button2=========== */
/* .buttons__menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.373);
    border-radius: 10px;
    position: relative;
} */


.buttons__cta2{
    background:linear-gradient(90deg,rgb(191, 0, 194)30%,rgb(0, 64, 255)140%);
    border: none;
    width: 200px;
    height: 70px;
    font-size: 1.7rem;
    font-family: poppins;
    color: var(--color-3);
    outline: 2px solid var(--color-3);
    outline-offset: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateY(-15px);
}

.buttons__checkbox{display: none;}
.buttons__cta2:hover{animation: hoverbutton 1s infinite;}


.buttons__ul2{
    width: 100%;
    height: 100%;
    position: absolute;
    background:linear-gradient(90deg,rgb(191, 0, 194)30%,rgb(0, 64, 255) 140%);
    color: var(--color-3);
    /* list-style: none; */
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: poppins;
    font-size: 1.7rem;
    clip-path: circle(0% at 50% 50%);
    border-radius: 10px;
    transition: clip-path 1s ease-in-out;
    outline: 2px solid var(--color-3);
    outline-offset: -5px;
}

.buttons__li2{
    /* height: 140px;
    width: 140px; */
    /* line-height: 140px; */
    /* clip-path: circle(50% at center); */
    cursor: pointer;
    transition: .5s;
    position: relative;
}

.buttons__li2::after{
    content: "";
    height: 140px;
    width: 140px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* background-color: green; */
    clip-path: circle(0 at center);
    transition: background-color .5s, clip-path .5s,color .5s;
}

.buttons__li2:hover{color: #000;}

.buttons__li2:hover::after{
    background-color: var(--color-3);
    clip-path: circle(50% at center);
    color: #000;
    z-index: -1;
}

.buttons__checkbox:checked + .buttons__ul2{clip-path: circle(100% at 50% 50%);}

@keyframes hoverbutton {
    0%{background: rgb(191, 0, 194);}
    50%{background: rgb(0, 64, 255);width: 190px;}
    100%{background: rgb(191, 0, 194);}
}

/* ==========button3============= */
.buttons__perspective{
    perspective: 700px;
    perspective-origin: 250px -100px;
    /* perspective-origin: 0 -200px;
    transform-style: preserve-3d; */
}

.buttons__cube{
    /* perspective: 700px; */
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    position: relative;
    /* transition: 1s; */
    /* transform: rotateY(-90deg); */
    /* scale: 1.7; */
}

.cube__face{
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(132, 0, 255),rgb(73, 0, 145));
    position: absolute;
    border: 1px solid var(--color-3);
}

.buttons__face1{transform:translateZ(100px);}
.buttons__face2{transform: translateX(100px) rotateY(90deg);}
.buttons__face3{transform: translateX(-100px) rotateY(90deg);}
.buttons__face4{transform: translateY(-100px) rotateX(90deg);}
.buttons__face5{transform: translateY(100px) rotateX(90deg);}
.buttons__face6{transform: translateZ(-100px);}
.buttons__face7{
    transform: translatey(200px) rotateX(110deg); 
    width: 200px;
    height: 200px;
    z-index: -10;
    filter: blur(20px);
}

.buttons__cta3{
    width: 200px;
    height: 70px;
    border: none;
    border-right: 5px solid rgb(73, 0, 145);
    border-bottom: 5px solid rgb(73, 0, 145);
    border-radius: 3px;
    background-color: rgb(132, 0, 255);
    color: var(--color-3);
    font-size: 1.7rem;
    text-shadow: 2px 2px rgb(49, 49, 49);
    box-shadow: 4px 5px 15px black;
    position: absolute;
    z-index: 20;
    transform: translateY(-13px);
    transition: border .1s, box-shadow .1s;
}

.buttons__cta3:active{
    border: none;
    box-shadow: 0px 0px 5px black;
}
.buttons__cta3:hover{text-shadow: 0 0 5px, 0 0 15px, 0 0 20px ;transition: text-shadow .3s;}

.buttons__ul3{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    color: var(--color-3);
    font-size: 1.5rem;
    list-style: none;
}

.buttons__li3:hover{
    transition: .3s;
    scale:1.1;
    cursor: pointer;
    text-shadow: 0 0 5px, 0 0 15px, 0 0 20px ;
}


/* ======SECTION WORKS======= */

.works{
    width: 100%;
    height: 190vh;
    background-color: var(--color-1);
}

.works__title{
    margin: 0;
    color: var(--color-3);
    font-size: 3.9rem;
    padding: 90px 0 30px 0;
    text-align: center;
    /* font-family: poppins; */
    text-shadow: 1px 1px var(--color-4);
}

.works__background{
    width: 100%;
    height: 80vh;
    background:linear-gradient(rgba(255, 255, 255, 0),#CE3B39 80%,rgba(255, 255, 255, 0));
}

.works__content{
    margin: 0 auto;
    /* min-width: 80%; */
    max-width: 1450px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: 20px;
}

.works__text{
    /* margin: auto; */
    /* transform: translateX(200px); */
    z-index: 2;
    margin-left: 30px;
}

.works__text--second{
    margin: 0 30px 0 0;
}

.works__subtitle{
    font-size: 2rem;
    font-family: poppins,sans-serif;
    text-align: center;
    color: var(--color-3);
    /* text-shadow: 1px 1px var(--color-4); */
    /* text-decoration-line:underline; */
}

.works__subtitle span{color: var(--color-4);}

.works__paragraph{
    /* margin: 30px; */
    color: var(--color-3);
    font-size: 1.2rem;
    text-align: justify;
}

.works__paragraph a{
    text-decoration: none;
    font-weight: 600;
    color: var(--color-4);
}

.works__video{
    /* width: 1000px;
    min-width: 700px; */
    width: 95%;
    border-radius: 10px;
    border: 5px solid var(--color-3);
}

.works__background--second{background:linear-gradient(rgba(255, 255, 255, 0),#8379E0 80%,rgba(255, 255, 255, 0));}
.works__content--second{grid-template-columns: 1.5fr 1fr;}

/* .works__video::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:black;
    z-index: 1;
} */

/* .header{
    display: none;
}

.about{
    display: none;
}

.panel{
    display: none;
}

.knowledge__gallery2{
    display: none;
}

 */

 /* ============SECTION CONTACT=========== */

.contact{
    width: 100vw;
    height: 120vh;
    background-color: var(--color-1);
}

.contact__title{
    font-family: poppins, sans-serif;
    color: var(--color-3);
    text-align: center;
    font-size: 3rem;
    padding-top: 70px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 100px;
    margin: auto;
    width: 80%;
}

.card{
    background-color: rgb(33, 72, 131);
    width: 300px;
    height: 350px;
    margin: 2px solid var(--color-3);
    border-radius: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin: auto;
    border: 1px solid var(--color-3);
    transition: scale .5s;
}

.card:hover{
    scale: 1.1;
}

.card__logo{
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.card__profile{
    width: 60%;
}

.card__subtitle{
    color: var(--color-3);
    font-weight: 400;
    margin: 0 0 10px 0;
}

.card__link{
    align-self: flex-end;
    padding-right: 10px;
    position: absolute;
    top: 10px;
}

.wapp__link{
    padding: 0;
}

.wapp__profile{
    width: 130px;
    padding: 10px;
    background-color: #fff;
    border-radius: 30%;
}

.github__logo{
    width: 150px;
    color: red;
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
}

.form{
    background-color: rgb(33, 72, 131);
    width: 450px;
    height: 450px;
    margin: 2px solid var(--color-3);
    border-radius: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    position: relative;
    margin: 50px auto;
    border: 1px solid var(--color-3);
}

.form__input{
    border: none;
    border-bottom: 2px solid var(--color-2);
    background-color: rgb(33, 72, 131);
    color: var(--color-3);
    font-size: 1rem;
    font-family: poppins, sans-serif;
    width: 80%;
}

.form__message{
    height: 100px;
    resize: none;
    border-left: 2px solid var(--color-2);
    border-right: 2px solid var(--color-2);
    font-weight: 200;
}

.form__submit{
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--color-2);
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    transition: background-color .5s, scale .5s, box-shadow .5s;
}

.form__submit:hover{
    background-color: var(--color-4);
    scale:1.1;
    box-shadow: 2px 2px 10px;
}

.device{
    display: none;
}

@media (max-width: 1200px){
    .page{
        display: none;
    }
    /* .device{
        display: flex;
        width: 1500px;
        height: 100vh;
        right: 0;
        top: 0;
        position: fixed;
        background-color: var(--color-2);
        z-index: 100;
    }
    
    .device p{
        display: block;
        font-size: 100px;
        text-align: center;
        margin: auto;
        background-color: var(--color-1);
        color: var(--color-3);
        width: 90vw;
        height: 90vh;
        padding: 400px;
        position: fixed;

    } */

    .device{
        display: flex;
        position: fixed;
        /* width: 100vw;
        height: 100vh; */
        text-align: center;
        font-size: 15vw;
        z-index: 100;
        color: var(--color-3);
        /* padding: 20vw; */
        
    }
}
